<h1 ><%= @contracts.company_name %></h1>

<p>Société par actions simplifiée au capital de [Montant du capital social] euros
Siège social : [Adresse du siège social]
RCS [Ville RCS] [Numéro RCS]</p>

Ci-après la « Société »



DECISIONS UNANIMES DES ASSOCIES PRISES PAR ACTE SOUS SEING PRIVE

LE [DATE]

POUR LES BESOINS DE LA REALISATION D’UN ACCORD D’INVESTISSEMENT RAPIDE (AIR)


LES SOUSSIGNES :

A remplir pour chaque associé (Si personne physique) [Prénom] [Nom], demeurant [Domicile], de nationalité [Nationalité] ; (si personne morale) [Dénomination sociale], société [Forme sociale] au capital de [Montant du capital social], immatriculée au registre du commerce et des sociétés de [Ville RCS] sous le numéro [Numéro RCS], dont le siège social est situé [Adresse du siège social], représentée par [Nom du représentant], agissant en sa qualité de [Qualité du représentant] ;

[à compléter]


Représentant l’ensemble des associés de la Société ;

Rappelant que conformément à l’article [Référence à compléter] des statuts de la Société, la consultation des associés peut résulter d’un acte sous seing privé signé par tous les associés ;

Convenant, pour les besoins des présentes décisions unanimes, des définitions suivantes :

(Le tableau qui suit permet de définir les paramètres du « AIR »)



Reconnaissant avoir disposé, préalablement aux présentes, d’un délai suffisant pour prendre connaissance :

du rapport du Président ;

(Si la société est dotée d’un commissaire aux comptes) [des rapports du Commissaire aux comptes] ; et

du projet de texte des présentes décisions.

à l’effet de statuer, par voie de décisions unanimes, sur l’ordre du jour suivant :

Emission d’un [ou plusieurs] bons de souscription autonome d’un prix de souscription égal au Montant de l’Investissement, donnant à son titulaire le droit de souscrire, à valeur nominale, un nombre variable d’actions présentant un caractère déterminable ;

Suppression du droit préférentiel de souscription des associés au profit de [ou des] l’Investisseur Air ;

(Si la société a au moins un salarié) Proposition d’augmentation de capital réservée aux salariés adhérents d’un plan d’épargne entreprise dans les conditions prévues aux articles L. 3332-18 à L. 3332-24 du Code du travail, en application de l’article L. 225-129-6 du Code de commerce ;

(Si la société a au moins un salarié) Suppression du droit préférentiel de souscription des associés au profit desdits salariés ;

Pouvoirs – Formalités.

Ont pris, par le présent acte sous seing privé, les décisions UNANIMES suivantes :

PREMIERE DECISION

Emission d’un bon de souscription autonome au prix unitaire de souscription égal au Montant de l’Investissement donnant le droit de souscrire, à valeur nominale, un nombre variable d’actions ordinaires de la Société déterminable

Les associés,

Après avoir pris connaissance :

du rapport du Président,

(Si la société est dotée d’un commissaire aux comptes) du rapport du Commissaire aux comptes sur l’émission du bon de souscription autonome, avec suppression du droit préférentiel de souscription des associés au profit d’un bénéficiaire nommément désigné, établi en application des dispositions des articles L. 228-12, L. 225-135 et L. 228-92 du Code de commerce,

Rappellent que le capital social est intégralement libéré ;

Décident, sous la condition suspensive de l’adoption de la décision ci-dessous relative à la suppression du droit préférentiel de souscription, et dans les conditions prévues aux articles L.  228-91 et suivants du Code de commerce, de procéder à l’émission d’un (1) bon de souscription autonome (ci-après désigné le « BSA Air ») pour un prix de souscription égal au Montant de l’Investissement ;

Décident que le BSA Air donnera à son titulaire le droit de souscrire, à valeur nominale (i. e. sans prime d’émission), un nombre variable d’actions déterminable selon les principes et conditions exposés ci-après ;

Décident que le BSA Air devra être souscrit par le biais d’un bulletin de souscription adressé à la Société dans délai de [8 jours] suivant les présentes décisions unanimes et que le versement intégral de son prix de souscription devra intervenir dans le même délai ;

Décident que le BSA Air pourra être exercé, selon les modalités qui suivent, pendant une durée maximale de [quatre (4) ans] suivant sa date de souscription, à défaut de quoi il deviendra caduc ;

Décident que le BSA Air sera exerçable dans l’hypothèse et dès l’instant où surviendrait l’une des opérations suivantes (étant chacune ci-après désignée un « Evénement Déclencheur ») :

une émission par la Société de nouvelles actions, ordinaires ou de préférence, assorties ou non de valeurs mobilières donnant accès au capital (étant précisé en tant que de besoin que l’émission de nouveaux BSA Air ne sera pas considérée comme tel) (ci-après une « Emission de Titres ») ;

une fusion ou une scission de la Société (ci-après une « Opération d’Echange ») ;

un transfert, sous quelque forme juridique que ce soit, de la propriété (pleine, divisée ou démembrée) d’actions de la Société emportant un changement de contrôle au sens de l’article L. 233-3 du Code de commerce ou une cession du fonds de commerce de la Société ou de ses principaux actifs ou un apport partiel d’actif (ci-après un « Transfert Qualifié ») ;

la cotation des titres de la Société sur un marché réglementé ou non (ci-après une « IPO ») ;

l’ouverture d’une procédure de sauvegarde, redressement judiciaire ou de liquidation judiciaire de la Société ou toute autre procédure similaire (ci-après une « Procédure Collective ») ;

Décident qu’en cas de survenance d’un Evènement Déclencheur, le BSA Air donnera à son titulaire le droit de souscrire, en une seule fois, jusqu’à un nombre « N Air » d’actions ordinaires de la Société, arrondi à l’entier [inférieur / supérieur] égal à :

 N air =


Etant convenu que, pour les besoins de cette formule :

« Prix Par Action » :   est déterminé de la manière suivante :

si la Valorisation de Référence (telle que définie ci-après) minorée du Taux de Décote  est strictement supérieure à la Valorisation Cap :

Prix par Action = (Valorisation Cap) / Ni

si la Valorisation de Référence (telle que définie ci-après) minorée du Taux de Décote  est strictement inférieure à la Valorisation Floor :

Prix par Action = Valorisation Floor / Ni

si la Valorisation de Référence (telle que définie ci-après) minorée du Taux de Décote est comprise entre la Valorisation Floor (inclusivement) et la Valorisation Cap (inclusivement) :

Prix par Action = (Valorisation de Référence*(1-Taux de Décote))  / Ni

« Valorisation
de Référence » :  désigne :

si l’Evènement Déclencheur est une Emission de Titres, une Opération d’Echange ou un Transfert Qualifié :

Valorisation de Référence = la valorisation, exprimée en euros, de 100 % de la Société, sur une base pleinement diluée, déterminée de bonne foi et retenue pour l’Evènement Déclencheur considéré 

si l’Evènement Déclencheur est une IPO :

Valorisation de Référence = la valorisation, exprimée en euros, de 100 % de la Société, sur une base pleinement diluée, déterminée sur la base du cours introductif des actions admises à la cotation

si l’Evènement Déclencheur est une Procédure Collective :

Valorisation de Référence = Valorisation Floor

Décident que N Air sera, le cas échéant, ajusté pour tenir compte de tout regroupement ou division de la valeur nominale des actions de la Société qui surviendrait entre l'émission et l’exercice du BSA Air ;

Décident que dans l’éventualité où l’Evènement Déclencheur serait une Emission de Titres ou un Transfert Qualifié, le BSA Air devra, sous peine de caducité, être exercé dans les 90 jours suivant la réalisation définitive de l’Evènement Déclencheur considéré ;

Décident que dans l’éventualité où l’Evènement Déclencheur serait une Opération d’Echange, le BSA Air pourra être exercé, à tout moment, à compter du dépôt au greffe du projet de fusion ou de scission ;

Décident que dans l’éventualité où aucun Evènement Déclencheur ne serait survenu dans les [24 mois] suivant la souscription du BSA Air, celui-ci deviendra alors exerçable et permettra à son titulaire de souscrire, à tout moment jusqu’à l’expiration de la validité du BSA Air, un nombre d’action NAir, arrondi à l’entier [inférieur / supérieur], déterminé de la manière suivante :

NAir =

Décident que, aussi longtemps que le BSA Air n’aura pas été exercé, la Société ne pourra, conformément aux dispositions des articles L 228-98 et L 228-100 du Code de commerce, ni modifier sa forme ou son objet, ni modifier les règles de répartition de ses bénéfices, y compris par voie d'émission d'actions de préférence, ni amortir son capital, y compris par voie d'émission d'actions de préférence ;

Décident que le BSA Air sera émis sous la forme nominative et fera l’objet d’une inscription en compte ;

Décident que le BSA Air sera librement et à tout moment cessible ;

Décident d’autoriser par avance l’émission des actions nouvelles qui résulterait de l’exercice du BSA Air, dont le nombre, arrondi à l’entier supérieur, ne pourrait en aucun cas excéder :

NAir max =

Décident d’autoriser par avance l’augmentation de capital qui résulterait de l’exercice du BSA Air et dont le montant ne pourrait en aucun cas excéder NAir max (tel que défini ci-avant) multiplié par la valeur nominale des actions ;

Rappellent que conformément à l’article L. 225-132 alinéa 6 du Code de commerce, la présente décision emporte, au profit du titulaire du BSA Air renonciation des associés à leur droit préférentiel de souscription aux actions nouvelles qui résulteraient de l’exercice du BSA Air ;

Rappellent en tant que de besoin que les droits du titulaire du BSA Air seront préservés dans les conditions définies par la loi et les règlements ;

Rappellent qu’aux termes de l’article L. 225-149 du Code de commerce, l'augmentation de capital qui résulterait de l'exercice du BSA Air sera définitivement réalisée du seul fait de l'exercice du BSA Air ;

Décident que les actions issues de l’exercice du BSA Air seront libérées en numéraire, par versement d’espèces et qu’elles devront être libérées en totalité lors de leur souscription ;

Décident que les fonds provenant de cette souscription, correspondant au nombre d’actions effectivement souscrites en exercice du BSA Air multiplié par la Valeur Nominale, seront déposés sur un compte spécial ouvert au nom de la Société ;

Délèguent au Président tous pouvoirs pour :

réaliser définitivement l’émission du BSA Air, recevoir le bulletin de souscription du BSA Air et le versement correspondant ;

accomplir, directement ou par mandataire, tous actes et formalités à l’effet de constater et rendre définitive l’augmentation de capital qui résulterait de l’exercice du BSA Air, notamment recevoir le bulletin de souscription des actions émises en exercice du BSA Air et le versement correspondant ;

prendre toute disposition pour assurer la protection du titulaire du BSA Air conformément aux dispositions légales et réglementaires en vigueur,

d’une manière générale, prendre toute mesure et effectuer toute formalité utile à l’émission et l’exercice du BSA Air.

Cette décision est adoptée à l’unanimité des associés.

DEUXIEME DECISION

Suppression du droit préférentiel de souscription des associés au profit de l’Investisseur Air 

Les associés,

En conséquence de l’adoption de la décision ci-avant,

Connaissance prise :

du rapport du Président, et

(Si la société est dotée d’un commissaire aux comptes) du rapport du Commissaire aux comptes sur la suppression du droit préférentiel de souscription, en application des articles L. 225-135, L. 225-138 et L. 228-91 du Code de commerce,

Décident de supprimer le droit préférentiel de souscription des associés au titre de l’émission du BSA Air au bénéfice de l’Investisseur Air, tel que désigné ci-avant.

Rappellent, en tant que de besoin, que conformément aux dispositions de l’article L. 228-98 du Code de commerce, dans la mesure où l’émission du BSA AIR se réalise avec suppression du droit préférentiel de souscription des associés, la Société n’est pas tenue de prendre des mesures nécessaires à la préservation des droits des titulaires de valeurs mobilières donnant accès au capital qui serait, le cas échéant en cours d’existence.

Cette décision est adoptée à l’unanimité des associés.

TROISIEME DECISION

Proposition d’augmentation de capital réservée aux salariés adhérents d’un plan d’épargne entreprise dans les conditions prévues aux articles L. 3332-18 à L. 3332-24 du Code du travail, en application de l’article L. 225-129-6 du Code de commerce

(Cette proposition est une exigence légale. Toutefois, si les associés sont obligés de la soumettre au vote, rien de les oblige à y voter favorablement)

Les associés,

Connaissance prise du rapport du Président et du rapport du Commissaire aux comptes sur la proposition de suppression du droit préférentiel de souscription, en application de l’article L. 225-135 du Code de commerce,

Connaissance prise de la proposition du Président de :

Décider de lui déléguer la compétence de la collectivité des associés à l'effet de procéder à une augmentation du capital social, en une ou plusieurs fois, sur ses seules délibérations, par émission d'actions ordinaires réservées, directement ou par l'intermédiaire d'un fonds commun de placement et d'entreprise, aux adhérents à un plan d'épargne tel que prévu aux articles L. 3332-1 et suivants du Code du travail qui serait ouvert aux salariés de la Société et des sociétés qui lui sont liées au sens de l'article L. 225-180 du Code commerce et qui remplissent, en outre les conditions éventuellement fixées par le Président de la Société (ci-après les « Salariés ») ;

Décider de supprimer en conséquence le droit préférentiel de souscription attribué aux associés par l'article L. 225-132 du Code commerce et de réserver la souscription desdites actions aux Salariés ;

Décider de fixer à dix-huit (18) mois à compter du jour de la présente décision, la durée de validité de la présente délégation ;

Décider de fixer à un montant égal à [à compléter] le montant nominal maximal des actions qui pourront être ainsi émises ;

Décider que le prix d’émission d’une action sera déterminé par le Président de la Société selon les modalités prévues à l’article L. 3332-20 du Code du travail.

(Si la résolution est rejetée) Décident, à l’unanimité, de rejeter cette proposition d’augmentation de capital réservée aux Salariés.

QUATRIEME DECISION

Suppression du droit préférentiel de souscription des associés au profit des Salariés

Les associés,

Connaissance prise :

du rapport du Président, et

(Si la société est dotée d’un commissaire aux comptes) du rapport du Commissaire aux comptes sur la suppression du droit préférentiel de souscription, en application des articles L. 225-135 et L. 225-138 du Code de commerce,

et connaissance prise de la proposition du Président de :

Décider de supprimer le droit préférentiel de souscription des associés au titre de l’augmentation de capital proposée au bénéfice des Salariés.

(Si la résolution est rejetée) Décident, à l’unanimité, de rejeter cette proposition de suppression du droit préférentiel de souscription.

CINQUIEME DECISION

Pouvoirs

Les associés donnent tous pouvoirs au porteur d'une copie ou d'un extrait du présent acte sous seing privé en vue de l'accomplissement de toutes formalités et plus généralement faire le nécessaire.

Cette décision est adoptée à l’unanimité des associés.

Les associés décident que les présentes décisions seront mentionnées, à cette date, au registre des délibérations (Si la société est dotée d’un commissaire aux comptes) [et communiqué au Commissaire aux Compte de la Société].


Fait à [à compléter], le [à compléter]


[Nom des Associés et signatures]

