<div class="text-center">
      <h1>Ginette</h1>
      <!-- <h1 class="logotype_name"><%= "@contracts.company_name" %></h1> -->
      <h2 class="logotype_occupation purple"><span class="purple">contracts.rcs_city</span></h2>
    </div>
    <!-- MAIN MENU -->
    <div class="all-cards padded">
      <div class="card-profil">
          <h2><strong>Récapitulatif des informations sur la société et la levée : </strong></h2>
            <ul>
            <li><strong>Montant de la levée : </strong></li>
            <li><strong>Décotte : </strong></li>
          </ul>
      </div>

      <div class="card-profil">
          <h2><strong>Récapitulatif des informations sur les associés :</strong></h2>
            <ul>
            <li><strong>Associé(e) 1 : </strong></li>
            <li><strong>Associé(e) 2 : </strong></li>
            <li><strong>Associé(e) 3 : </strong></li>
          </ul>
      </div>

      <div class="card-profil">
        <h2><strong>Récapitulatif des informations sur les investisseur :</strong></h2>
        <div >
          <ul>
            <li><strong>Investisseur 1 : </strong></li>
            <li><strong>Investisseur 2 : </strong></li>
            <li><strong>Investisseur 3 : </strong></li>
            <li><strong>Investisseur 4 : </strong></li>
          </ul>
        </div>
      </div>
    </div>
        <div class="header_menu">
      <ul class="header_menu horizontal_list">
        <li><a class="no_border purple" href="#">Profile</a></li>
        <li><a href="#">Contrats</a></li>
        <li><a href="#">Modifier</a></li>
        <li><a href="#">Générer un nouveau contrat</a></li>
      </ul>
    </div>
  </div>
</div>
