<div class="text-center">
      <h1>Ginette</h1>
      <!-- <h1 class="logotype_name"><%= "@contracts.company_name" %></h1> -->
      <h2 class="logotype_occupation purple"><span class="purple">contracts.rcs_city</span></h2>
    </div>
    <!-- MAIN MENU -->

    <div class="block">
        <h2>Récapitulatif des informations sur la société et la levée : </h2>
          <ul>
          <li>Montant de la levée</li>
          <li>Décotte</li>
        </ul>
    </div>

    <div class="block">
        <h2>Récapitulatif des informations sur les associés :</h2>
          <ul>
          <li>Associé 1 : </li>
          <li>Associé 2</li>
          <li>Associé 3</li>
        </ul>
    </div>

    <div class="block">
      <h2>Récapitulatif des informations sur les investisseur :</h2>
      <div >
        <ul>
          <li>Investisseur 1 : </li>
          <li>Investisseur 1 :</li>
          <li>Investisseur 1 : </li>
          <li>Investisseur 1 :</li>
        </ul>
      </div>
    </div>
        <div class="header_menu">
      <ul class="header_menu horizontal_list">
        <li><a class="no_border purple" href="#">Profile</a></li>
        <li><a href="#">Contrats</a></li>
        <li><a href="#">Modifier</a></li>
        <li><a href="#">Générer un nouveau contrat</a></li>
      </ul>
    </div>
  </div>
</div>
