<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic' rel='stylesheet' type='text/css'>

<!-- MAIN CONTAINER -->
<div id="main_container">
  <!-- HEADER -->
  <div id="header">
    <!-- LOGOTYPE/NAME -->
    <div class="header_logotype_container">
      <h1 class="logotype_name">Ginette</h1>
      <!-- <h1 class="logotype_name"><%= "@contracts.company_name" %></h1> -->
      <h2 class="logotype_occupation purple"><span class="purple">contracts.rcs_city</span></h2>
    </div>
    <!-- MAIN MENU -->
    <div class="header_menu_container">
      <div class="clear"></div>
      <ul class="header_menu horizontal_list">
        <li><a class="no_border purple" href="#">Profile</a></li>

        <li><a href="#">Contrats</a></li>
        <li><a href="#">Modifier</a></li>
        <li><a href="#">Générer un nouveau contrat</a></li>
      </ul>
    </div>
  </div>
  <!-- LEFT COL -->
  <div id="left_col">
    <div class="profile_frame">
      <div class="profile_picture" style="background-image: url('<%= image_path "ste" %>')"></div>
    </div>
    <div class="hello_content">
      <h2>BSA Air</h2>
      <p>Le <strong>AIR </strong>est un outil totalement <strong>personnalisable </strong>(Taux de Décote, Valorisation Cap, Valorisation Floor etc..) et devrait répondre à la plupart des situations.
      Le principal <strong>avantage</strong> du AIR est qu'il ne constitue ni de la dette, ni du capital : c'est du <strong>quasi-equity </strong>!</p>

    </div>
    <div class="contact_details_content">
      <h2>Simplicité</h2>
      <p class="purple">Pas de la dette</p>
      <p class="purple">Pas immédiatement de droit au capital</p>
      <p class="purple">Fluidification de l'investissement</p>
      <p class="purple">Protection de l'investissement</p>
      <p class="purple">Même principe que les BSA Ratchet</p>

    </div>
    <a href="mailto:jlalovi@gmail.com" class="send_message_button">

      <span class="content">Send me a message <span class="fontawesome-double-angle-right"></span></span>
    </a>
  </div>
  <!-- PROFILE CONTENT -->
  <div id="content_container">
    <div class="block">
      <h1>Votre société</h1>
      <blockquote class="profile_quote">
        <p> Ici on met toutes les info de la société, c'est un recap.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </blockquote>
    </div>

    <div class="horizontal_line">
      <div class="line_left"></div>
      <div class="left_circle"></div>
      <div class="central_circle"></div>
      <div class="right_circle"></div>
      <div class="line_right"></div>
    </div>
    <div class="block">
      <h2>Vos Contrats</h2>
      <p>Voici la liste des contrats que vous avez génerez pour chaque investisseur.</p>
      <div class="philosophy_content">
        <ul>
          <li>Investisseur 1 : Lewagon</li>
          <li>Investisseur 1 : Spark</li>
          <li>Investisseur 1 : Y Combinator</li>
          <li>Investisseur 1 : McKenzie</li>

        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div class="horizontal_line">
      <div class="line_left"></div>
      <div class="left_circle"></div>
      <div class="central_circle"></div>
      <div class="right_circle"></div>
      <div class="line_right"></div>
    </div>
  </div>
  <div class="clear"></div>


</div>
