<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-md-8 text-footer">
        <p class="space">Le Tippie facilite votre première levée de fonds en vous permettant de générer simplement vos contrats BSA AIR.</p>
      </div>
      <a href="/pages/about" class="aabout">Qui sommes nous?</a>
    </div>
  </div>
</div>



