  <div class="title-slice">
    <div class="title-slice-container">
      <div class="title">
        L'équipe
      </div>
      <div class="sub-title">
        Arthur, Emmanuelle et Maxime
      </div>
    </div>
  </div>


 <div class="padded">
    <div class="container text-center" id="features">
      <div class="cards">

        <div class="card-container">
          <div class="card yellowc" >
            <%= image_tag "arthur.jpg", class: "img-circle"%>
            <h2>Arthur</h2>
            <p><strong>Bénéficiez d'un contrats spécialement rédigé pour les levées de fonds early-stage simple et robuste.</strong></p>
          </div>
        </div>
        <div class="card-container">
          <div class="card yellowc">
            <%= image_tag "emma.png", class: "img-circle"%>
            <h2>Emmanuelle</h2>
            <p><strong>Une signature électronique reconnu juridiquement en Europe et aux Etat-Unis.</strong></p>
          </div>
        </div>
        <div class="card-container">
          <div class="card yellowc">
            <%= image_tag "max.png", class: "img-circle"%>
            <h2>Maxime</h2>
            <p><strong>Vos contrats sont conservés et accessible sur votre profil Boomerang pendant 5 ans.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
