  <div class="title-slice">
    <div class="title-slice-container">
      <div class="title">
        L'équipe
      </div>
      <div class="sub-title">
        Arthur, Emmanuelle et Maxime se sont rencontré au Wagon.
      </div>
    </div>
  </div>


 <div class="padded">
    <div class="container text-center" id="features">
      <div class="cards">

        <div class="card-container">
          <div class="card yellowc" >
            <%= image_tag "arthur.jpg", class: "img-circle"%>
            <h2>Arthur</h2>
            <p><strong>Arthur, après une ecole de commerce.</strong></p>
          </div>
        </div>
        <div class="card-container">
          <div class="card yellowc">
            <%= image_tag "emma.png", class: "img-circle"%>
            <h2>Emmanuelle</h2>
            <p><strong>Apres une carière de 2ans dans la Hi-tech, Emmanuelle à décider de se former a la programation. </strong></p>
          </div>
        </div>
        <div class="card-container">
          <div class="card yellowc">
            <%= image_tag "max.png", class: "img-circle"%>
            <h2>Maxime</h2>
            <p><strong>Entrepreneur depuis deja 2 ans Maxime...</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
