  <div class="title-slice">
    <div class="title-slice-container">
      <div class="title">
        Conditions Générales d’Utilisation
      </div>
      <div class="sub-title">
        Le guide pour tout comprendre.
      </div>
    </div>
  </div>
  <div class="container">
  <div class="about-slice">
    <div class="about-card-container">
      <div class="about-card">
 <!--        <div class="line"></div> -->
        <div class="about-card-content-container">
          <div class="about-card-content-title">
            Bsa Accord d’Investissement Rapide, consultation juridique
          </div>
          <div class="about-card-content">
            <li>Votre attention est spécifiquement attirée sur le fait que l’ensemble des documents mis à votre disposition constituent de simples exemples, qui ne concernent que la conclusion d’un Accord d’Investissement Rapide dans une société par actions simplifiée.</li>

            <li>Ce modèle d’investissement convient aux sociétés en phase d’amorçage
            et qui ne font pas d’offre au public de titres financiers.
            Attention : Il peut ne pas être éligible à certaines réductions d’impôts (ISF, PME etc.)</li>

            <li>Il ne constitue en aucune manière un avis ou une consultation juridique.
            Nous vous recommandons en toutes circonstances de solliciter l’avis ou l’assistance d’un avocat pour la mise en œuvre d’un Accord d’Investissement Rapide.
            Le AIR repose sur l'utilisation d'un bon de soucription d'actions (BSA), dont les principes de fonctionnement s'inspirent du mécanisme bien rodé des BSA Ratchet, mais en sens inverse.</li>

          </div>
        </div>
      </div>
    </div>
    <div class="about-card-container">
      <div class="about-card">
        <div class="line"></div>
        <div class="about-card-content-container">
          <div class="about-card-content-title">
            Mentions légales
          </div>
          <div class="about-card-content">
            <li>Boomerang n'est pas un cabinet d'avocats et ne fournit aucun conseil juridique. Conformément à la réglementation applicable, Boomerang permet aux utilisateurs de créer eux-mêmes des actes juridiques. Conformément à la réglementation applicable et, en particulier, aux dispositions de la loi du 31 décembre 1971 modifiée, Boomerang, ses dirigeants, salariés et partenaires n’exercent pas d’activité de consultation en matière juridique, de rédaction d’actes sous seing privé ou de représentation. </li>
            <li>Vous reconnaissez que vous créez vous-mêmes vos Documents, sans le conseil d’un professionnel du droit. Pour toute consultation juridique, vous reconnaissez qu’il est obligatoire de se rapprocher (par l’intermédiaire du Site ou par tout autre moyen) d’un avocat ou de toute autre personne habilitée par la loi à effectuer des prestations de conseil juridique. </li>
            <li>Le Site et/ou les Services proposés sur le Site ne sauraient en aucun cas se substituer à une consultation d’avocat.</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

