
<div class="banner text-center padded" style="background-image: url('')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Le Tippie</h1>
    <p>Contractualisez votre première levée de fonds en un clic</p>
    <%= link_to t("btn btn-primary btn-lg", default: "COMMENCEZ GRATUITEMENT"), new_contract_path(), class: "navbar-wagon-item navbar-wagon-button btn btn-primary" %>
  </div>
</div>
<div id="apropos">
  <h1>A PROPOS</h1>
  <p>A propos</p>
</div>

<div id="offres">
  <h1>OFFRES</h1>
  <p>Offres</p>
</div>

<div id="faq">
  <h1>FAQ</h1>
  <p>FAq</p>
</div>




