
<div class="banner text-center" style="background-image: url('')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Start Me Up</h1>
    <p>Contractualisez votre première levée de fonds.</p>
    <%= link_to t("btn btn-primary btn-lg", default: "COMMENCEZ GRATUITEMENT"), new_contract_path(), class: "navbar-wagon-item navbar-wagon-button btn btn-primary" %>
  </div>
</div>
<div class="#apropos">

  <p>blabla</p>
</div>

<div class="#offres">
  <p>hellohello</p>
</div>




