
<div text-center>
<h1 text-center>Welcome @ Start Me Up</h1>

<p>This page is a presentation page with to buttoms : Create a form (need a user acces) and a login. Somes others static pages will be added</p>

<p> Here is a link to generat a form </p>


<%= link_to t("btn btn-primary btn-lg", default: "COMMENCEZ GRATUITEMENT" new_contract_path) %>

</div>
