#footer{
  bottom:0px;
  left:0px;
  width:100%;
  background: #F9C11C;
  padding: 5px 0;
  color: #B2085D;
  p {
    margin-top: 17px;
    color:#B2085D;
  }
  ul {
    margin-top: 10px;
    margin-left: 100px;
  }
  a {
    color: #B2085D;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
    &:hover{
      color: white;
    }
  i{
    padding-right:10px;
  }
  }
}

.space{
  margin-right: -100px;
  padding-top: 5px;
}

@media screen and (max-width: 1000px) {
    .text-footer {
        display: none ;
    }
}

