/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding: 30px;
  padding-bottom: 5em;
}

.marged-header{
  marging-bottom:50px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

h1 {
 font-family: 'Varela Round', sans-serif;
 font-size: 70px;
}

.card{
  padding: 40px;
  font-weight: 300;
  h2{
    color:#B2085D;
    font-size: 22px;
  }
}

.card-profil{
  background-color: #F4F4F4;
  box-shadow: 1px 1px 1px 0px #656565;
  border-radius: 3px;
  padding:20px;
  margin:20px;
  h2{
    font-size: 20px;
    margin-top: -5px;
    margin-left: -5px;
    font-family: 'Varela Round', sans-serif;
  }
  p{
    font-family: 'Varela Round', sans-serif;
  }
}
.padded-btn{
  padding-top:20px;

}
.banner-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}
#description{
  height:400px;
  background-color: #F9C11C;

}

#offres{
  height:800px;
}

#faq{
  height:800px;
}

