.stripe-button-el {
  background: #F9C11C;
  text-shadow: none !important;
  border-radius: 4px !important;
  box-shadow: none;
  background-image: none !important;

  span {
    background-image: none;
    background: #F9C11C !important;
  }
}

