.cards {
  display: flex;
  flex: 1;
}

.card-container {
  display: flex;
  margin: 0;
  padding: 10px;
  flex: 0 0 25%;
}

.card {
  margin: 0;
}

@media (max-width: $screen-md) {
  .cards {
    flex-direction: column;
  }
  .card-container {
    flex: 1;
  }
}

.about-card-container {
  display: flex;
  margin: 0;
  padding: 10px;
  flex: 0 0 25%;
}
